<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Wiki Games</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto"> <!-- Ganti ml-auto dengan mr-auto -->
            {{#if user}}
            <li class="nav-item"><a class="nav-link" href="/heroes">Heroes</a></li>
            <li class="nav-item"><a class="nav-link" href="/types">Types</a></li>
            {{/if}}
        </ul>
        <ul class="navbar-nav">
            {{#if user}}
            <li class="nav-item"><a href="/add-hero" class="btn btn-success mr-3">Add Hero</a></li>
            <li class="nav-item"><a href="/add-type" class="btn btn-success mr-3">Add Type</a></li>
            <li class="nav-item"><a class="btn btn-danger" href="/logout">Logout</a></li>
            {{/if}}
        </ul>
    </div>
</nav>

    <div class="container mt-5">
        {{{body}}}
    </div>
</body>
</html>
